# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter / Colab
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Datasets
datasets/
dataset/
hard_hat_dataset/

# YOLO / Ultralytics training outputs
runs/
weights/
*.cache

# Temporary files
*.tmp
*.temp

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
